* {
   box-sizing: border-box;
}

@font-face {
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 800;
   src: url(../assets/fonts/raleway-v19-latin-800.woff2) format('woff2');
}

@font-face {
   font-family: 'Cabin';
   font-style: normal;
   font-weight: 400;
   src: url(../assets/fonts/cabin-v18-latin-regular.woff2) format('woff2');
}

h1, h2, h3, h4, h5, h6 {
   font-family: 'Raleway';
}

a {
  color: inherit;
  outline: none;
  text-decoration: none;
}

html {
font-size: 50%;
}

body {
   background-color: #E1E1CF;
   font-family: 'Cabin';
   margin: 0;
}

.wrapper {
  margin: 2rem auto;
  max-width: 1000px;
  width: 70%;
}

.header{
   background-image: 
      linear-gradient(rgba(119, 98, 178, 0.6), rgba(119, 98, 178, 0.6)), 
      url(../assets/images/header-cover.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   border-radius: 8px;
   color: #FFF;
   padding: 3rem 7rem 1.6rem;
}

.header__title {
   font-size: 4.8rem;
   letter-spacing: 1px;
   margin-bottom: 0.4rem;
   text-transform: uppercase;
   width: 26rem;
}

.social-media{
   display: flex;
   align-items: center;
}

.social-media__label {
   font-size: 1.6rem;
   letter-spacing: 0.2rem;
   margin-right: 0.8rem;
   text-transform: uppercase;
}

.social-media__list {
   list-style: none;
   margin: 0;
   padding: 0;
}

.social-media__item {
   display: inline-block;
   margin: 0 0.8rem;
   width: 2.8rem;
}

.social-media__link {
   outline: none;
   opacity: 1;
   transition: opacity 150ms ease-in;
}

.social-media__link:focus, .social-media__link:hover {
   opacity: 0.6;
}

.card-highlight {
  border-radius: 8px;
  color: #FFF;
  display: flex;
  height: 40vh;
  overflow: hidden;
  padding: 1.6rem 3.2rem;
  position: relative;
}

.overlay {
  position: relative;
}

.overlay::before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.overlay-yellow::before {
  background-color: rgba(215, 215, 98, 0.6);
}

.overlay-red::before {
  background-color: rgba(185, 82, 59, 0.6);
}

.card-highlight__info {
  align-self: flex-end;
  position: relative;
  z-index: 2;
}

.card-highlight__image {
  border-radius: 8px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.card-highlight__title {
  color: #FFF;
  font-size: 3.6rem;
  text-decoration: none;
}

.card {
  background-color: #FFF;
  border-radius: 0.8rem;
  color: #000;
  display: flex;
  overflow: hidden;
}

.card__image {
  display: block;
  object-fit: cover;
  width: 35%;
}

.card__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 1.6rem;
  width: 100%;
}

.card__title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 2.4rem;
  margin: 0.8rem 0;
}

.card__title--centered {
  text-align: center;
}

.card--vertical {
  flex-direction: column;
}

.card--vertical .card__image {
  width: 100%;
}

.author {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
}

.author__image {
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  margin-right: 1rem;
}

.author__image--squared {
  border-radius: 0;
}

.author__link:focus, .author__link:hover {
  text-decoration: underline;
}

.author--vertical {
  flex-direction: column;
}

.grid {
  display: grid;
  gap: 2rem;
}

.grid-col-2 {
  grid-template-columns: repeat(2, 1fr);
}

@media screen and (min-width: 769px){
  
  html {
    font-size: 62.5%;
  }
}

@media screen and (max-width: 576px) {

  .grid-col-sm-1 {
    grid-template-columns: repeat(1, 1fr);
  }

}
