* {
   box-sizing: border-box;
}

@font-face {
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 800;
   src: url(../assets/fonts/raleway-v19-latin-800.woff2) format('woff2');
}

@font-face {
   font-family: 'Cabin';
   font-style: normal;
   font-weight: 400;
   src: url(../assets/fonts/cabin-v18-latin-regular.woff2) format('woff2');
}

h1, h2, h3, h4, h5, h6 {
   font-family: 'Raleway';
}

a {
  color: inherit;
  outline: none;
  text-decoration: none;
}

body {
   background-color: #E1E1CF;
   font-family: 'Cabin';
   margin: 0;
}

.wrapper {
  margin: 20px auto;
  max-width: 1000px;
  width: 70%;
}

.header{
   background-image: 
      linear-gradient(rgba(119, 98, 178, 0.6), rgba(119, 98, 178, 0.6)), 
      url(../assets/images/header-cover.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   border-radius: 8px;
   color: #FFF;
   padding: 30px 70px 16px;
}

.header-title {
   font-size: 48px;
   letter-spacing: 1.5px;
   margin-bottom: 4px;
   text-transform: uppercase;
   width: 260px;
}

.social-media{
   display: flex;
   align-items: center;
}

.social-media-label {
   font-size: 16px;
   letter-spacing: 2px;
   margin-right: 8px;
   text-transform: uppercase;
}

.social-media-list {
   list-style: none;
   margin: 0;
   padding: 0;
}

.social-media-item {
   display: inline-block;
   margin: 0 8px;
   width: 28px;
}

.social-media-link {
   outline: none;
   opacity: 1;
   transition: opacity 150ms ease-in;
}

.social-media-link:focus, .social-media-link:hover {
   opacity: 0.6;
}

.card-highlight {
  border-radius: 8px;
  color: #FFF;
  display: flex;
  height: 40vh;
  overflow: hidden;
  padding: 16px 32px;
  position: relative;
}

.overlay {
  position: relative;
}

.overlay::before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.overlay-yellow::before {
  background-color: rgba(215, 215, 98, 0.6);
}

.overlay-red::before {
  background-color: rgba(185, 82, 59, 0.6);
}

.card-highlight-info {
  align-self: flex-end;
  position: relative;
  z-index: 2;
}

.card-highlight-image {
  
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.card-highlight-title {
  color: #FFF;
  font-size: 36px;
  text-decoration: none;
}

.card {
  background-color: #FFF;
  border-radius: 10px;
  color: #000;
  display: flex;
  overflow: hidden;
}

.card-image {
  display: block;
  object-fit: cover;
  width: 35%;
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 16px;
  width: 100%;
}

.card-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 24px;
  margin: 8px 0;
}

.author {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.author-image {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

.author-link:focus, .author-link:hover {
  text-decoration: underline;
}

.grid {
  display: grid;
    gap: 20px;
}

.grid-col-2 {
  grid-template-columns: repeat(2, 1fr);
}

